accelerate
icrawler
imagededup
itertools
json
locals
matplotlib
numpy
opencv-python
os
pandas
PIL
pycocotools
pytextrank
segment_anything
sklearn
spacy
string
supervision
supervision==0.6.0
timm
torch[cuda]
torchvision[cuda]
tqdm
transformers
typing
typing_extensions
wandb
xformers
yaml
